.Adminheader{
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.Adminheader_left{
  display: flex;
  justify-content: space-evenly;
}
.Adminheader_input{
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}
.Adminheader_input > input{
  border: none;
  background-color: transparent;
  outline-width: 0;
}
.header_center{
  display: flex;
  flex: 1;
  justify-content: center;
}
.Adminheader_left > img{
  height: 40px;
}
.Adminheader_option > .MuiSvgIcon-root{
  color: gray;
}
.Adminheader_option:hover > .MuiSvgIcon-root {
  color: blue;
}
.Adminheader_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor:pointer;
}
.Adminheader_option:hover{
  background-color: black;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}
.Adminheader_option--active{
  border-bottom:2px solid blue;
}
.Adminheader_info{
  display: flex;
  align-items: center;
}

.Adminheader_info > h4{
  margin-left: 10px;
}
.Adminheader_right{
  display: flex;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#Admin {
    width: 100%;
    height: 70vh;
    background: url("../images/first.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -140px;
    z-index: 1;
  }
  
  #Admin:before {
    content: "";
    background: rgba(60, 65, 51, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #Admin .Admin-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #Admin h1 {
   margin-top: 80px;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: black;
   
  }
 
  
  @media (min-width: 1024px) {
    #Admin {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #Admin {
      height: 100vh;
    }
    #Admin h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #Admin h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #Admin .Admin-container {
      padding: 0 15px;
    }
  }
  
  @media (max-height: 500px) {
    #Admin {
      height: 120vh;
    }
  }

  .customerdetail{
    position: relative;
    margin-top: 200px;
    margin-bottom: 30px;
    text-decoration: none;

  }
 .customerdetail ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-left: 40px;
  }
  
  .customerdetail li {
    position: relative;
    margin-left: 50px;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 0;
    align-items: center;
    color: black;
  }

.custom-tab{
    position: relative;
    margin-top: 200px;
}

.custom-tbl{
    margin-bottom: 30px !important;
}
.list-group-item :hover{
  color:black;
  }
  .list-group-item{
      color: black;
  }

.customerdetailtable{
    height: 100%;
    margin-bottom: 30px;
}
/*table*/

