#herod {
    width: 100%;
    height: 70vh;
    background: url("../images/Driver.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -140px;
    z-index: 1;
  }
  
  #herod:before {
    content: "";
    background: rgba(60, 65, 51, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #herod .herod-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #herod h1 {
   margin-top: 80px;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
   
  }
 
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .hero-container {
      padding: 0 15px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }


  .driver {
	font-family: 'Raleway', sans-serif;
  margin-top: 150px;
  margin-bottom: 20px;
}









